<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Result</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/pricing/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="result.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  </head>
  <body>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="background-color: rgba(41, 182, 109, 0.8); margin-bottom: 2%;">
      <h1 class="display-4" style="margin-top: 1%; font-weight: bold; color: white;">พนักงานรักษาความปลอดภัยในบริเวณใกล้เคียง</h1>
      
      <h3 style="margin-top: 2%;color: white; font-weight: lighter;"><%= location %></h3>
    </div>
    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header" style="background-color: #064635;">
            <h4 style="font-weight: lighter;color: white; margin-top: 1%;">จำนวนพนักงานรักษาความปลอดภัยในบริเวณใกล้เคียงทั้งหมดรวม <%= number %> ป้อม</h4>
          </div>
          <% for (let i = 0; i < parseInt(number); i++) {  %>
            <div class="card-body" style="background-color: rgba(183, 246, 204, 0.25);">

              <p hidden id = "distance_value"><%= object[i].distance %></p>
              <p hidden id = "id_value"><%= object[i].security_id %></p>
              <p hidden id = "link_value"><%= object[i].img_link %></p>

              <img id = "image" src=<%= object[i].img_link %> width="360" height="260" style="margin-bottom: 2%; margin-top: 1%" >
              <h5 id = "post_distance" class="card-title pricing-card-title" style="font-weight: lighter;">พนักงานรักษาความปลอดภัยป้อมหมายเลข <%= object[i].security_id %></h5>
              <span class="badge" style="background-color: rgba(255, 64, 26, 0.43); color: white;"><h6 style="font-weight: bolder; margin-top: 6%;">ระยะห่าง <%= object[i].distance %> เมตร</h6></span></a><br>
              <!-- <h5 id = "post_distance" class="card-title pricing-card-title" style="font-weight: lighter; margin-bottom: 5%;">ระยะห่าง <%= object[i].distance %> เมตร</h5> -->
              <hr>

            </div>
          <% }%>
        </div>
      </div>
      </div>
  
      <div class="container">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 box-shadow">
            <div class="card-header" style="background-color: #064635;">
              <h5 class="my-0 font-weight-normal" style="color: white;">กราฟแสดงระยะทางจากสถานที่ที่เลือกกับพนักงานรักษาความปลอดภัยในบริเวณใกล้เคียง(เมตร)</h5>
            </div>
            <div class="card-body" style="background-color: rgba(183, 246, 204, 0.25);">
              <canvas id="myChart" width="500" height="500" style="margin: 0 auto;">a</canvas>
              <p hidden id="number" style="visibility: hidden;"><%= number %></p>
              <p hidden id="distance" style="visibility: hidden;"><%= distance %></p>
              <p hidden id="idlist" style="visibility: hidden;"><%= id %></p>
              <script>
        
                
                let myChart = document.getElementById('myChart').getContext('2d'); 

                var labeldata = [];
                var d = document.getElementById('distance').innerHTML;
                var idlist = document.getElementById('idlist').innerHTML;
                var number = document.getElementById('number').innerHTML;

                let text = d;
                let text2 = idlist;
                const myArray = text.split(",");
                const myArray2 = text2.split(",");

                for (let i = 0; i < parseInt(number); i++){
                  let text = "ป้อมหมายเลข " + myArray2[i];
                  labeldata.push(text);
                }
                
                let massPopChart = new Chart(myChart, { type: 'bar', data:{ labels:labeldata, datasets:[{label:'ระยะทางโดยเฉลี่ย', data:myArray, backgroundColor: "DarkSeaGreen", hoverBackgroundColor: 'DarkOliveGreen'}],}
                ,options: {
                  responsive: false,
                  scales: {yAxes: [{ticks: {beginAtZero: true}}]}
                  }
                })
              </script>
            </div>
          </div>
        </div>
        </div>
    <form action="/" method="get">
    <button type="submit" class="btn btn-danger" style="width: 50%; margin-left: 25%; margin-bottom: 5%">กลับหน้าหลัก</button>
    </form>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
